<a href="https://colab.research.google.com/github/eji58/6-months-data-science-projects/blob/main/Section_1%2C_2%2C_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In this notebook, I will cover The Basic of Python Programing Language . After each section I will make a simple program as practice of the concepts.  

enjoy :)


## Section 1. Fundamentals

1. Variables : explain  what variables are and how to create concise and meaningful variables.
2. Strings : learn about string data and some basic string operations.
3. Numbers : introduce the commonly-used number types including integers and floating-point numbers.
4. Booleans : explain the Boolean data type, falsy and truthy values in Python.
5. Constants : show how to define constants in Python.
6. Comments : learn how to make notes in your code.
7. Type conversion : learn how to convert a value of one type to another e.g., converting a string to a number.

In [ ]:
print("Hello Word")

**Variables**

In [ ]:
a = 10 
print(a)

In [ ]:
b = 0.44
print(b)

In [ ]:
c = "Ersaa"
print(c)

In [ ]:
d = True 
print(d)

**Type and type function**

In [ ]:
print(a)
print(type(a))

In [ ]:
print(a + b)
print(type(a+b))

In [ ]:
print(b)
print(type(b))

In [ ]:
print(c)
print(type(c))

In [ ]:
Fname="Esraa "
Lname="Sultan "
print(Fname + Lname)

In [ ]:
print(d)
print(type(d))

Python doesn’t support **constants**.

To work around this, you use all capital letters to name a variable to indicate that the variable should be treated as a constant. For example:

In [ ]:
# For example:   <-- this is a Comment conversion  
FILE_SIZE_LIMIT = 2000

Input User

In [ ]:
x = input()
print(x)

In [ ]:
x = input("enter your name:")
print("Hi", x)

Conversion

In [ ]:
a = 10.44
print(type(a))
#covert float to int 
b = int(a)
print(b, type(b))

In [ ]:
a = "10"
print(type(a))
#covert str to int 
b = int(a)
print(b, type(b))


## Section 2. Operators

Python divides the operators in the following groups:

1. Arithmetic operators : to compare two values.
2. Assignment operators : to assign values to variables.
3. Comparison operators : to compare two values
4. Logical operators :  to combine conditional statements.
5. Identity operators : to compare the objects, not if they are equal, but if they are actually the same object, with the same memory location.
6. Membership operators : to test if a sequence is presented in an object.
7. Bitwise operators : to compare (binary) numbers

In [ ]:
x= 10
y= 5
z= 3

In [ ]:
# Arithmetic
# Addition
print(x+y)
# Subtraction
print(x-y)
# Multiplication
print(x*y)
# Division
print(x/y)
# Modulus
print(x%y)
# Exponentiation
print(x**y)
# Floor division
print(x//y)

In [ ]:
# Assignment
x=17
x += 3	
print(x)	
x -= 3	
print(x)	
x *= 3
print(x)	
x /= 3
print(x)	
x %= 3	
print(x)
x //= 3	
print(x)

In [ ]:
x=10
x **= 3
print(x)
x &= 3
print(x)	
x |= 3
print(x)	
x ^= 3
print(x)	
x >>= 3
print(x)	
x <<= 3

In [ ]:
# Comparison 
# Equal	
print(x == y)	
# Not equal
print(x != y)	
# Greater than
print(x > y)
# Less than	
print(x < y)
# Greater than or equal to	
print(x >= y)
# Less than or equal to	
print(x <= y)

In [ ]:
# Logical 
print(x)
# and
print(x < 5 and  x > 10	)
# or
print(x < 5 or x < 4)
# not	
print(not(x < 5 and x > 10))

In [ ]:
# Identity 
a = "Esraa Sultan"
b = " Sultan AlZahrani"
c = b

# is 
print(a is b )
print(c is b )
# is not
print(a is not b )
print(c is not b )

In [ ]:
# Membership 
a = ["Esraa","Sultan"]
b = "Sultan"
c = b

# in 
print(b in a )
print(c in b )
# not in
print(b not in a)
print(c not in b )

In [ ]:
# Bitwise 

"""
The & operator compares each bit and set it to 1 if both are 1, otherwise it is set to 0:

6 = 0000000000000110
3 = 0000000000000011
--------------------
2 = 0000000000000010
====================
"""
print(6 & 3)

# the other Bitwise oerators | or, ^ xor, ~ not, << left shift, >> right shift
# Note: we will use it on the regular expression later:)


## Section 3. Data Collections

python used collection to store data, for example, lists, dictionaries, sets, and tuples, all of which are built-in collections.


1. Lists : a list is a collection of ***ordered*** and ***mutable*** data and  allow duplicates
2. Tuples : a tuple is an ***ordered*** and ***immutable*** collection of data and  allow duplicates
3. Sets : a set is an ***unordered*** and ***mutable*** collection and  does not allow duplicates.
4. Dictionaries : a dictionary is an ***unordered*** and ***mutable*** collection of data that stores data in key-value pairs and keys do not allow duplicates.

### **Lists:**
* List Basics
* List Operations
* List Comprehensions / Slicing
* List Methods

In [ ]:
# colliction of different type of elements
l=[10,20,30]
print(l)

In [ ]:
print(type(l))

In [ ]:
l2=[10,"A",4.55]
l2

In [ ]:
print(l[0],type(l[0]))

In [ ]:
# indexing
l[2]

In [ ]:
#  -3, -2, -1
# [10, 40, 30]
# negative index
l[-1]

Operations:

Modifying, Adding, and Removing elements

In [ ]:
# reassignment
l[1]=40
l

In [ ]:
l[1]*=2 # l[1]  = l[1] * 2
l

In [ ]:
l.append(40)
l

In [ ]:
#index,element
l.insert(2,70)
l

In [ ]:
# by index
del l[3]
l

In [ ]:
# by element
l.remove(10)
l

In [ ]:
n= l.pop()
l,n

Slicing

In [ ]:
# list[begin: end]
colors = ['red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'violet']
sub_colors = colors[1:4]
sub_colors

In [ ]:
# list[begin: end: step]
sub_colors = colors[0:6:2]
sub_colors

In [ ]:
# n-first elements 
sub_colors = colors[:2]
sub_colors

In [ ]:
# n-last elements 
sub_colors = colors[3:]
sub_colors

In [ ]:
# slice to reverse using negative index
sub_colors = colors[:-2]
sub_colors

In [ ]:
# substitute 
colors[0:2] = ['black', 'white']
colors

In [ ]:
# List comprehensions: create a new list based on an existing list.
lis1=[1,2,3,4,5,6,7,8]
seq=[]

for i in lis1:
  seq.append(i**2)

seq

Methods:

Clear, Copy, Sort, Count...

In [ ]:
l=[0,1,2,3,4,5,6,7,8]
l2=l.copy()
l2

In [ ]:
l.insert(3,9)
l

In [ ]:
l.sort()
l

In [ ]:
Length=len(l)
Length

In [ ]:
l.append(9)
l.append(9)
l

In [ ]:
l.count(9)

### **Tuples:**

* Tuples Basics
* Tuples Comprehensions / Slicing
* Tuple Functions
* Tuple Methods

In [ ]:
t=(10,20,30)
t

In [ ]:
type(t)

In [ ]:
t[0]

In [ ]:
x=(10)
x, type(x)

unpacking

In [ ]:
a,b,c=t
a,b,c

In [ ]:
t=(1,2,3,4,"A","B")
t, type(t)

swapping two number without thrid var

In [ ]:
a,b=10,20
print("a=",a," b=",b)
b,a=a,b
print("a=",a," b=",b)

Slicing

In [ ]:
#                                -1
t = (11,22,33,44,55,66,77,88,99,100)
#    0  1
t

In [ ]:
t[3:5]

In [ ]:
t[-7:-3]

In [ ]:
t[0:9:2]

functions:

len, max, min, sum....

In [ ]:
t = (2,3,4,5,6,7)
print(len(t))
print(max(t))
print(min(t))
print(sum(t))

methods:

count, index

immutable meaning it can't add or delete or reassignment an element

In [ ]:
t = (2,3,4,5,6,7,7,7,8,8)

In [ ]:
t.index(4)

In [ ]:
t.count(7)

### **Set:**

* Sets Basics
* Sets Operations
* Union
* Intersection
* Difference and Symmetric Difference

In [ ]:
# unorder so does not allow duplicate
s={1,2,3,4,5,6,6}
s

In [ ]:
type(s)

In [ ]:
print(3 in s)

In [ ]:
print(7 in s)

operations:

* Intersection : A ∩ B all elements which are in both.
* Union :	A ∪ B all elements which are in either or (or both).
* Difference : A − B all elements which are in but not in both.
* Symmtric : (or) all elements which are not in both.

In [ ]:
s1={1,2,3,4,5,6}
s2={4,5,6,7,8,9}

In [ ]:
#  intersaction
s1.intersection(s2)

In [ ]:
#  union
s1.union(s2)

In [ ]:
# difference
s1.difference(s2)

In [ ]:
s2.difference(s1)

In [ ]:
# symmtric
s1.symmetric_difference(s2)

methods:

add, pop, clear, remove...

In [ ]:
set1={'AA','BB','CC'}
set1.add('DD')
set1

In [ ]:
set1, set1.pop()

functions:

len, max, min, sum....

In [ ]:
s = {2,3,4,5,6,7}
print(len(s))
print(max(s))
print(min(s))
print(sum(s))

**Frozenset**

In [ ]:
fs=frozenset([1,2,3,4,5]) #immutable 
fs

In [ ]:
type(fs)

### **Dictionary:**

* Dictionaries Basics
* Operations
* Comprehensions
* Dictionaries Methods

In [ ]:
# like javascript objects
{
    "name":"esraa",
    "age":25
}

In [ ]:
d={1:"first",2:"second",3:"thrid"}
d

In [ ]:
type(d)

access by the key, not by the value or index becasue the dictionary is unordered

In [ ]:
d[1]

In [ ]:
d['orange'] = "hello there"
d

In [ ]:
d['orange']

Operations:

Modifying, Adding, and Removing

In [ ]:
d

In [ ]:
d[1]="last"
d

In [ ]:
d["before"]="Hi"
d

In [ ]:
del d[2]
d

methods:

get, copy, clear, remove, keys, value, pop, update...

In [ ]:
d={1: "One", 2: "Two", 3: "Three", 4: "four", 5: "five"}
d

In [ ]:
d.get(2)

In [ ]:
print(d.get(21)) #out of value

In [ ]:
c=d.copy()
c

In [ ]:
c.values()

In [ ]:
c.keys()

In [ ]:
c.items()